*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container a{
    text-decoration: none;
}

.masthead{
    position: relative;
    text-align: center;
    padding: 90px 0 110px;
    margin-top:0;
    margin-bottom: 0;
    background: linear-gradient(45deg,#020031 0,#6d3353 100%);
    color: #fff;
}

.masthead::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/1.png') repeat center center;
    opacity: 0.4;
}

.masthead .container{
    position: relative;
    /* z-index: 2; */
}

.masthead .container h1{
    font-size: 100px;
    font-weight: 700;
}

.masthead .container p:nth-of-type(1){
    font-size: 30px;
}

.masthead .container p:nth-of-type(2) a{
    padding: 13px 35px 17px;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: inset 0 -4px 0 #2a6496;
    
}


@media screen and (max-width:780px){
    .masthead .container{
        padding: 60px 80px;
    }

    .masthead .container h1{
        font-size: 60px;
    }
    .masthead .container p:nth-of-type(1){
        font-size: 18px;
    }
}

@media screen and (max-width:684px){
    .masthead .container{
        padding: 30px 40px
    }
}

.navbar{
    margin-bottom: 0;
}

.masthead ul{
    display: inline-block;
}

.bc-social{
    padding-top:15px;
    text-align: center;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd; 
}

.bc-social ul li{
    display: inline-block;
    color: #555;
}

.bc-social ul li a{
    color: #555;
}

.bc-social ul .weibo::before{
    content: '|';
    color: #ccc;
    padding: 0 10px;
}

.project{
    text-align: center;
}

.project .page-header{
    width: 60%;
    margin: 60px auto 0;
}

.thumbnail{
    max-width: 310px;
    margin: 0 auto 30px;
}

.thumbnail .caption{
    height: 200px;
}

.footer{
    color: #777;
    padding: 30px 0;
    border-top: 1px solid #ddd;
    margin-top: 50px;
}

.col-sm-3 h4{
    color: #563d7c;
    font-size: 16px;
}

#search{
    position: absolute ;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}